.brand {
	background: $white;
	border: 1px solid $border;
	border-radius: 5px;
	padding: 30px 35px;

	display: flex;
	flex-direction: column;
}

.brand__heading {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: $text-dark;
	margin-bottom: 20px;
}

.brand__wrapper {
	color: $second-text;
	font-weight: 600;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.2px;

	display: flex;
	justify-content: space-between;
}

.brand__option {
	display: none;
}

.brand__label {
	padding-left: 40px;
	cursor: pointer;
	margin-bottom: 14px;

	&:hover {
		color: $link;
	}
}

.brand__option:not(:checked) + .brand__label {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		border: 2px solid $inner-border;
		border-radius: 5px;
		left: 0;
	}
}

.brand__option:checked + .brand__label {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		border: none;
		border-radius: 5px;
		background-image: url("./../icons/checked.svg");
		left: 0;
	}
}
