.footer {
    background-color: $text-dark;
    padding: 46px 20px 64px 20px;
    box-sizing:border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.footer__logo-link {
    text-align: center;
    margin-bottom: 40px;
}

.footer__logo {
    display: block;

}

.footer__menu {
    text-align: center;
    margin-bottom: 61px
}

.footer__item {
    margin-bottom: 16px;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__link {
    @include text-16-28;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: $white;
        &:hover {
            color: $link
        }
}

.footer__social {
    display: grid;
    grid-template-columns: repeat(auto-fit, 41px);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 90%;
    justify-content: center;
}

.footer__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer__social-link:hover .footer__twitter {
    fill: #1DA1F2;
}

.footer__social-link:hover .footer__facebook {
    fill: #3b5998 ;
}

.footer__social-link:hover .footer__linkedin {
    fill: #0e76a8;
}

@media(min-width: $desktop-width) {
    .footer {
        flex-direction: row;
        padding: 35px 40px 35px 55px;
        align-items: center;
        justify-content: space-between;
    }

    .footer__logo-link {
        margin-bottom: 0;
        /*margin-right: 16px;*/
    }
    .footer__menu {
        display: flex;
        margin-bottom: 0;
        /*margin-right: 190px;*/
    }

    .footer__item {
        margin-bottom: 0;
        padding: 10px;
        margin-right: 1px;
    }

    .footer__item:last-child {
        margin-right: 0px;
    }

    .footer__link {
        padding: 10px;
    }

    .footer__social {
        width: 171px;
    }
}

@media(min-width: $big-desktop-width) {
    .footer {
        padding: 35px 80px 35px 110px;
    }

}

@media(min-width: 1500px) {
    .footer {
        padding: 35px 12% 35px 12%
    }
}