.promo {
	background-image: url("../images/wp2214662-skate-brands-wallpapers.jpg");
	background-position: center 2%;
	height: 243px;
	background-size: cover;
}

@media (max-width: 800px) {
	.promo {
		height: 285px;
	}
}
